.intro {
  background-color: var(--color-text);

  &__summary {
    --flow-space: #{get-size(500)};
    color: var(--color-bg);
    font-size: var(--step-1);

    a {
      color: var(--color-theme-secondary);

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__heading {
    font-size: var(--step-4);
    color: var(--color-bg);
    max-width: 40ex;

    &--compact {
      max-width: 20ex;
    }
  }
}
