.nav {
  &__list {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }

    > * + * {
      margin-left: get-size(500);
    }
  }

  &__item {
    padding: get-size(300) 0;
    flex-shrink: 0;

    a {
      color: var(--color-color-text);
      font-size: var(--step--1);
      text-decoration-color: var(--color-theme-secondary);
      text-decoration-thickness: 2px;

      &.button {
        color: #fff;
      }

      &:hover {

      }
    }
  }
}
