.site-foot {
  background-color: #fff;
  border-top: 2px solid var(--color-stroke);
    font-size: var(--step--1);
  // Reverse whatever the theme colors are
//  background-color: var(--color-text);
//  color: var(--color-bg-glare);
//  text-decoration-color: var(--color-bg-glare);
  &__about-link {
    display: inline;
  }

  a {
    color: var(--color-color-text);
    font-size: var(--step--1);
    text-decoration-color: var(--color-theme-secondary);
    text-decoration-thickness: 2px;

    &:hover {

    }
  }

  &__credit {
  }
}
