.site-foot {
  border-top: 2px solid var(--color-stroke);
    font-size: var(--step--1);
  // Reverse whatever the theme colors are
//  background-color: var(--color-text);
//  color: var(--color-bg-glare);
//  text-decoration-color: var(--color-bg-glare);

  a {
    color: currentColor;

    &:hover {

    }
  }

  &__credit {
  }
}
