.site-foot {
  // Reverse whatever the theme colors are
  background-color: var(--color-text);
  color: var(--color-bg-glare);
  text-decoration-color: var(--color-bg-glare);

  a {
    color: currentColor;

    &:hover {

    }
  }

  &__credit {
    font-size: var(--step--1);
  }
}
