.site-head {
  background-color: var(--color-bg);
  position: sticky;
  top: 0;
  z-index: 1;

  &__site-logo {
    margin-right: 1ch;
  }
  &__site-name {
    align-items: center;
    color: var(--color-color-text);
    display: flex;
    font-weight: 700;
    text-decoration: none;
  }
}
