{% if postListItems.length %}
<div class="[ post-list ] [ pad-top-700 gap-bottom-900 ]">
  <h2 class="[ post-list__heading ]">{{ postListHeading }}</h2>
  <div class="[ post-list__items ] [ pad-top-300 ]">
  {% for item in postListItems %}
    <div class="post-list__item">
      <h3 class="font-base">{{ item.data.title }}</h3>
      <p>{{ item.data.summary }}</p>
    </div>
  {% endfor %}
  </div>
</div>
{% endif %}
