{% if postListItems.length %}
<div class="[ post-list ]">
  <div class="[ post-list__items ] [ pad-top-300 ]">
  {% for item in postListItems %}
    <div class="post-list__item [ gap-bottom-900 ]">
      {% if item.image %}
      <img srcset="/images/volunteers/volunteer-{{ item.image }}.jpg,
      /images/volunteers/volunteer-{{ item.image }}@2x.jpg 2x"
      src="/images/volunteers/volunteer-{{ item.image }}.jpg" alt="{{ item.name }} headshot" class="post-list__image">
      {% endif %}
      <div class="post-list__body">
        <h3 class="post-list__heading [ post-list__heading ] [ gap-top-300 ] [ gap-bottom-300 ]">{{ item.data.title }}</h3>
        {{ item.data.content | safe }}
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% endif %}
