{% if volunteers.items %}
<div class="[ post-list__items ] [ pad-top-900 ]">
  {% for item in volunteers.items %}
  <div class="post-list__item [ gap-bottom-900 ]">
    <img srcset="/images/volunteers/volunteer-{{ item.image }}.jpg,
    /images/volunteers/volunteer-{{ item.image }}@2x.jpg 2x"
    src="/images/volunteers/volunteer-{{ item.image }}.jpg" alt="{{ item.name }} headshot" class="post-list__image">
    <div class="post-list__body">
      <h3 class="post-list__heading [ post-list__heading ] [ gap-top-300 ]">{{ item.name }}</h3>
      <div class="post-list__subheading">{{ item.superpower }}</div>
      <a class="post-list__link" target="_blank" href="{{ item.url }}">{{ item.label }}</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
