<div class="volunteer [ gap-bottom-600 ]">
  <img src="https://cdn.substack.com/image/fetch/w_320,h_320,c_fill,f_auto,q_auto:good/https%3A%2F%2Fsubstack.com%2Fimg%2Flanding_page%2Femilyoster.jpg" alt="Emily Oster" class="volunteer__image">
  <div class="volunteer__info">
    <h3 class="volunteer__name [ post-list__heading ] [ gap-top-300 ]">Adam Prince</h3>
    <div class="volunteer__superpower">Design</div>
    <a class="volunteer__link" href="#">LinkedIn</a>
  </div>
</div>
