<div class="volunteer [ gap-bottom-700 ]">
  <img srcset="/images/volunteers/volunteer-magdaaguirre.jpg,
  /images/volunteers/volunteer-magdaaguirre@2x.jpg 2x"
  src="/images/volunteers/volunteer-magdaaguirre.jpg" alt="Magda Aguirre headshot" class="volunteer__image">
  <div class="volunteer__info">
    <h3 class="volunteer__name [ post-list__heading ] [ gap-top-300 ]">Magda Aguirre</h3>
    <div class="volunteer__superpower">Content creation</div>
    <a class="volunteer__link" target="_blank" href="https://www.vivamagdastudio.com/">Website</a>
  </div>
</div>

<div class="volunteer [ gap-bottom-700 ]">
  <img srcset="/images/volunteers/volunteer-jonathanbron.jpg,
  /images/volunteers/volunteer-jonathanbron@2x.jpg 2x"
  src="/images/volunteers/volunteer-jonathanbron.jpg" alt="Jonathan Bron headshot" class="volunteer__image">
  <div class="volunteer__info">
    <h3 class="volunteer__name [ post-list__heading ] [ gap-top-300 ]">Jonathan Bron</h3>
    <div class="volunteer__superpower">Business analysis</div>
    <a class="volunteer__link" target="_blank" href="https://www.linkedin.com/in/jonathan-bron/">LinkedIn</a>
  </div>
</div>

<div class="volunteer [ gap-bottom-700 ]">
  <img srcset="/images/volunteers/volunteer-joshdoiron.jpg,
  /images/volunteers/volunteer-joshdoiron@2x.jpg 2x"
  src="/images/volunteers/volunteer-joshdoiron.jpg" alt="Josh Doiron headshot" class="volunteer__image">
  <div class="volunteer__info">
    <h3 class="volunteer__name [ post-list__heading ] [ gap-top-300 ]">Josh Doiron</h3>
    <div class="volunteer__superpower">Business analysis</div>
    <a class="volunteer__link" target="_blank" href="https://www.linkedin.com/in/joshdoiron">LinkedIn</a>
  </div>
</div>

<div class="volunteer [ gap-bottom-700 ]">
  <img srcset="/images/volunteers/volunteer-amandafrank.jpg,
  /images/volunteers/volunteer-amandafrank@2x.jpg 2x"
  src="/images/volunteers/volunteer-amandafrank.jpg" alt="Amanda Frank headshot" class="volunteer__image">
  <div class="volunteer__info">
    <h3 class="volunteer__name [ post-list__heading ] [ gap-top-300 ]">Amanda Frank</h3>
    <div class="volunteer__superpower">Web design</div>
    <a class="volunteer__link" target="_blank" href="https://www.linkedin.com/in/amandajoyfrank">LinkedIn</a>
  </div>
</div>

<div class="volunteer [ gap-bottom-700 ]">
  <img srcset="/images/volunteers/volunteer-adamprince.jpg,
  /images/volunteers/volunteer-adamprince@2x.jpg 2x"
  src="/images/volunteers/volunteer-adamprince.jpg" alt="Adam Prince headshot" class="volunteer__image">
  <div class="volunteer__info">
    <h3 class="volunteer__name [ post-list__heading ] [ gap-top-300 ]">Adam Prince</h3>
    <div class="volunteer__superpower">Project coordination</div>
    <a class="volunteer__link" target="_blank" href="https://adamprince.us">LinkedIn</a>
  </div>
</div>
