<div class="volunteer vertical">
  <img src="https://cdn.substack.com/image/fetch/w_320,h_320,c_fill,f_auto,q_auto:good/https%3A%2F%2Fsubstack.com%2Fimg%2Flanding_page%2Femilyoster.jpg" alt="Emily Oster" class="volunteer-compact-head">
  <div class="volunteer__info">
    <div class="volunteer__name">Adam Prince</div>
    <div class="volunteer__superpower">Design</div>
    <a class="volunteer__link" href="#">LinkedIn</a>
</div>
