<footer role="contentinfo" class="[ site-foot ] [ pad-top-900 pad-bottom-900 ]">
  <div class="wrapper">
    <div class="[ site-foot__inner ] [ md:box-flex space-between align-start ]">
      {% if site.shortDesc %}
        <div>
          <article class="[ site-foot__details ] [ sf-flow measure-compact ] [ gap-bottom-600 ]">
            <h3>About</h3>
            {{ site.shortDesc | markdownFilter | safe }}
          </article>
        </div>
      {% endif %}
    </div>
    <div>
      <nav class="nav" aria-label="{{ariaLabel}}">
        <ul class="[ nav__list ] [ box-flex ] nav__list--social">
          {% if site.authorEmail %}
          <li class="nav__item">
            <a href="/contact">Contact</a>
          </li>
          {% endif %}
          {% if site.authorTwitterHandle %}
          <li class="nav__item">
            <a href="https://twitter.com/{{ site.authorTwitterHandle }}" target="_blank">Twitter</a>
          </li>
          {% endif %}
          {% if site.authorInstagramHandle %}
          <li class="nav__item">
            <a href="https://www.instagram.com/{{ site.authorInstagramHandle }}" target="_blank">Instagram</a>
          </li>
          {% endif %}
          {% if site.authorFacebookPage %}
          <li class="nav__item">
            <a href="https://www.facebook.com/{{ site.authorFacebookPage }}" target="_blank">Facebook</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </div>
    {% if site.showThemeCredit %}
      <p class="[ site-foot__credit ] [ pad-top-600 ]">
        Powered by the <a href="https://hylia.website" rel="external">Hylia Eleventy Starter Kit v{{ pkg.version }}</a>.
      </p>
    {% endif %}
  </div>
</footer>
