{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}

{% block content %}
  <main id="main-content" tabindex="-1">
    <article class="[ post ] [ h-entry ]">
      {% include "partials/components/intro.njk" %}
      <div class="[ post__body ] [ inner-wrapper ] [ pad-top-900 pad-bottom-900 ] [ sf-flow ] [ e-content ]">
        {{ content | safe }}
        <h2>Volunteer-led</h2>
        <div class="[ post-list__items ] [ pad-top-900 ]">
          {% include "partials/components/volunteer.njk" %}
        </div>
      </div>
    </article>
  </main>
{% endblock %}

{{ content | safe }}
