{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}{{ content | safe }}{% endset %}

{% block content %}
  {% include "partials/components/intro.njk" %}
  <section class="[ pad-top-900 pad-bottom-900 ]">
    <header class="[ gap-top-900 gap-bottom-900 ] text-center">
      <h1>Volunteers</h1>
    </header>
    <div class="[ inner-wrapper ]">
      {% include "partials/components/volunteer-list.njk" %}
    </div>
  </section>
{% endblock %}
