{% extends 'layouts/base.njk' %}
{% set pageType = 'Homepage' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{% set postListHeading = postsHeading %}
{% set postListItems = collections.postFeed %}

{# if postListItems.length < collections.posts.length %} 
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif #}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    {# include "partials/components/post-list.njk" #}
    {# include "partials/components/pagination.njk" #}
    <div class="[ inner-wrapper ]">
      <hr>
      <div class="[ post__body ] [ leading-loose pad-bottom-900 text-500 ] [ sf-flow ] [ e-content ]">
        <h3>For businesses</h3>
        <p>Are you a small independent business looking for help? Begin the process of getting matched with a digital marketing professional.</p>
        <a href="/pages/businesses">Get started</a>
        <h3>For volunteers</h3>
        <p>Are you a creative professional looking to volunteer? Begin the process of getting matched with a small independent businesses.</p>
        <a href="/pages/volunteers">Get started</a>
      </div>
    </div>
  </main>
{% endblock %}
