{% extends 'layouts/base.njk' %}
{% set pageType = 'Homepage' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{# Post list content #}
{% set postListHeading = postsHeading %}
{# set postListItems = collections.postFeed #}
{% set postListItems = collections.postFeed %}

{# Archive link #}
{% if postListItems.length < collections.posts.length %} 
  {% set paginationNextText = archiveButtonText %}
  {% set paginationNextUrl = '/archive' %}
{% endif %}

{% block content %}
  <main id="main-content" tabindex="-1">
    {% include "partials/components/intro.njk" %}
    <div class="post__body [ inner-wrapper ] [ pad-top-900 pad-bottom-900 ] [ sf-flow ]">
      <div class="[ gap-bottom-900 ]">
        <h2>Get <span class="post__emphasize">free</span> digital marketing help</h2>
        <p class="[ gap-top-300 gap-bottom-300 ]">Are you a San Diego-based small business that needs help? Tell us about your need and we'll do our best to match you with a digital marketing specialist.</p>
        <a href="https://forms.gle/FJzWtepqrGBUcpft6" target="_blank">Get started</a>
      </div>
      {% include "partials/components/post-list.njk" %}
      <hr>
      <div class="[ gap-bottom-900 ]">
        <h2>Volunteer with us</h2>
        <p class="[ gap-top-300 gap-bottom-300 ]">Would you like to volunteer? Get started by telling us how you're able to help.</p>
        <a href="https://forms.gle/naxwRKS6ZTxRoira8" target="_blank">Get started</a>
      </div>
      <hr>
      <div class="card [ gap-bottom-900 ]">
        <h2 class="[ gap-bottom-300 ]">Help us spread the word</h2>
        <ul class="[ nav__list ] [ box-flex align-center ]">
          <li><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
          <li><div class="fb-share-button" data-href="https://mutualaidsd.com/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmutualaidsd.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div></li>
        </ul>
      </div>
    </div>
  </main>
{% endblock %}