{% extends 'layouts/base.njk' %}
{% set pageType = 'Homepage' %}

{# Intro content #}
{% set introHeading = title %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{# Post list content #}
{% set postListHeading = 'Services offered' %}
{% set postListItems = collections.posts %}


{% block content %}
  {% include "partials/components/intro.njk" %}
  <div class="post__body [ inner-wrapper ] [ pad-top-900 pad-bottom-900 ] [ sf-flow ]">

    <section class="[ pad-top-900 pad-bottom-900 ]">
      <header class="[ gap-bottom-900 ] [ sf-flow measure-compact ]">
        <h1>Free digital marketing assistance</h1>
        <p class="[ gap-top-300 gap-bottom-600 ]">Are you an independent San Diego-based restaurant that needs help? Tell us about your need and we'll do our best to match you with a digital marketing specialist.</p>
        <a href="https://forms.gle/FJzWtepqrGBUcpft6" class="button" target="_blank">Get started</a>
      </header>
    </section>

    <hr>

    <section class="[ pad-top-900 pad-bottom-900 ]">
      <header class="[ gap-bottom-900 ] text-center">
        <h1>Services offered</h1>
      </header>
      {% include "partials/components/post-list.njk" %}
    </section>

    <hr>

    <section class="[ pad-top-900 pad-bottom-900 ]">
      <header class="[ gap-bottom-900 ] [ sf-flow measure-compact ]">
        <h1>Volunteer</h1>
        <p class="[ gap-top-300 gap-bottom-600 ]">Would you like to volunteer? Get started by telling us how you're able to help.</p>
        <a href="https://forms.gle/naxwRKS6ZTxRoira8" class="button" target="_blank">Get started</a>
      </header>
    </section>

    <hr>

    <section class="[ pad-top-900 pad-bottom-900 ]">
      <header class="[ gap-bottom-900 ] [ sf-flow measure-compact ]">
        <h1 class="[ gap-bottom-900 ]">Help us spread the word</h1>
      </header>
      <ul class="[ nav__list ] [ box-flex align-center ]">
        <li><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></li>
        <li><div class="fb-share-button" data-href="https://mutualaidsd.com/" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmutualaidsd.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div></li>
      </ul>
    </section>

  </div>
{% endblock %}
